<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><img class="logo" src="/logo.jpg" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
  <% if(currentUser && currentUser.role === 'manager') { %>
  <a class="nav-link" href="/listings/new">List Your Property</a>
  <% } %>
      </div>
      <div class="navbar-nav ms-auto">
  <% if(!currentUser) { %>
  <a class="nav-link" href="/signup">Sign Up</a>
  <a class="nav-link" href="/login">Login</a>
  <% } else { %>
  <!-- Traveller Navigation -->
  <% if(currentUser.role === 'traveller') { %>
  <a class="nav-link" href="/profile">My Profile</a>
        
  <!-- Manager Navigation -->
  <% } else if(currentUser.role === 'manager') { %>
  <a class="nav-link" href="/manager/dashboard">Manager Dashboard</a>
        
  <!-- Admin Navigation -->
  <% } else if(currentUser.role === 'admin' || currentUser.username === "TravelNest") { %>
  <a class="nav-link" href="/admin" style="color: #c58b5e;">Admin Panel</a>
  <% } %>
        
  <a class="nav-link" href="/logout">Logout</a>
  <% } %>
    </div>
  </div>
</nav>
