<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><img class="logo" src="/logo.jpg" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currentUser) { %>
        <a class="nav-link" href="/signup">Sign Up</a>
        <a class="nav-link" href="/login">Login</a>
        <% } else { %>
        <% if(currentUser.role === 'user') { %>
        <a class="nav-link" href="/profile">My Profile</a>
        <% } %>
        <% if(currentUser.role === 'manager') { %>
        <a class="nav-link" href="/profile">My Profile</a>
        <a class="nav-link" href="/manager">Manager Dashboard</a>
        <a class="nav-link" href="/listings/new">Add Property</a>
        <% } %>
        <% if(currentUser.role === 'admin') { %>
        <a class="nav-link" href="/admin" style="color: #c58b5e;">Admin Panel</a>
        <% } %>
        <a class="nav-link" href="/logout">Logout</a>
        <% } %>
    </div>
  </div>
</nav>