<% layout('./layouts/boilerplate') %>
<div class="row mt-3">
    <div class="col-6 offset-3">
        <form action="/login" method="post" class="needs-validation" novalidate>
            <h1>Login on TravelNest</h1>
            <div class="mb-3">
                <label for="name" class="form-label">Enter UserName</label>
                <input type="text" name="username" class="form-control" required>
                <div class="invalid-feedback">Please enter a correct UserName</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Enter Password</label>
                <input type="password" name="password" class="form-control" required>
                <div class="invalid-feedback">Please enter correct password</div>
            </div>
            <button type="submit" class="btn add-btn">Login</button>
    </div>
</div>